<launch>
  <include file="$(find rosbot_puck_sorter)/launch/bringup.launch" />

  <rosparam command="load" file="$(find rosbot_puck_sorter)/config/mission_manager.yaml" ns="mission_manager" />
  <node pkg="rosbot_puck_sorter" type="mission_manager.py" name="mission_manager" output="screen" />
</launch>
