<launch>
  <arg name="enable_gripper_controller" default="true" />
  <arg name="enable_cmd_vel_dead_reckoner" default="false" />

  <include file="$(find rosbot_puck_sorter)/launch/challenge.launch" >
    <arg name="enable_gripper_controller" value="$(arg enable_gripper_controller)" />
  </include>
</launch>
